*{
  margin: 0%;
  padding: 0%;
}
body{
  height: 100vh;
  background-image: linear-gradient(#F5F5DC, #7c90e2);
  font-family: "Arsenal SC", sans-serif;
  font-weight: 700;
  font-style: normal;
  }
  